<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zeidler.colin.rocketjournal" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".listviews.JournalListView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddJournal"
            android:label="@string/add_journal"
            android:parentActivityName=".listviews.JournalListView">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".JournalListView"/>
        </activity>
        <activity android:name=".listviews.JournalView"
            android:label="@string/app_name"
            android:parentActivityName=".listviews.JournalListView">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".JournalListView"/>
        </activity>
    </application>

</manifest>
